/* Ultra Light */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueUltraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueUltraLightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueThin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueThinItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueMediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Heavy */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueHeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica-Font/HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}