.app__login-btn {
    position: fixed;
    top: 24px;
    right: 28px;
}

.app__login-btn .btn {
    height: 34px;
    line-height: 34px;
    width: 82px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

.app__create-btn {
    position: fixed;
    bottom: 24px;
    right: 28px;
}

.app__create-btn .big-create-btn {
    height: 68px;
    width: 82px;
    background-color: #181818;
    border: 1px solid #353636;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    transition: transform 0.3s ease;
}

.app__create-btn .big-create-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.app__create-btn .big-create-btn svg {
    width: 24px;
    height: 24px;
}

.app__navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-vertical {
    height: 100vh;
    width: 80px;
    // background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.app__icon {
    height: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.app__icon a {
    display: block;
    width: 34px;
    transition: transform 0.3s ease;
}

.app__icon a:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.app__utilities {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app__utilities-btn {
    display: block;
    width: 26px;
    padding: 10px 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 20%;
    box-sizing: content-box;
    transition: background-color 0.3s ease;
}

.app__utilities-btn svg {
    transform: translateY(-2px);
}

.app__utilities-btn:hover {
    cursor: pointer;
    background-color: #171717;
}

.app__setting {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app__setting-btn {
    display: block;
    width: 26px;
    padding: 10px 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 20%;
    box-sizing: content-box;
}

.app__container {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 100vh;
}

.heading__section {
    width: 100%;
    font-weight: 600;
    color: white;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    svg{
        width: 24px;
        height: 24px;
        padding: 5px;
        border-radius: 50%;
        background-color: #181818;
        border: 1px solid #353636;
        transition: scale 0.3s ease;
        &:hover{
            cursor: pointer;
            scale: 1.15;
        }
    }
}

.refresh-btn {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.content__section {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #353636;
    border-radius: 22px;
    .start__thread{
        top: 0px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
        padding: 16px 24px;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
        height: 36px;

        .start__thread__user__icon{
            //flex: 1;
            width: 36px;
            height: 36px;
            img{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .start__thread__title {
            flex: 10;
            width: 300px; /* Set the desired width */
            height: 36px; /* Set the desired height */
            padding: 10px; /* Optional: Add padding for better appearance */
            color: #777777; /* Set the text color */
            box-sizing: border-box; /* Ensure padding is included in the width and height */
            cursor: text; /* Change cursor to pointer to indicate interactivity */
            display: flex; /* Center the text */
            align-items: center; /* Center the text vertically */
            justify-content: flex-start; /* Center the text horizontally */
        }
        .start__thread__button{
            flex:1;
            text-align: center; /* Center the button horizontally */
            height: 36px;


            button{
                height: 36px;
                padding: 0px 16px; /* Add padding to the button */
                font-size: 15px; /* Increase the font size */
                background-color:  #181818; /* Set the background color */
                color: white; /* Set the text color */
                border: 1px solid #353636; /* Remove the border */
                border-radius: 10px; /* Add rounded corners */
                cursor: pointer; /* Change the cursor to a pointer */

                &:active {
                    transform: scale(0.95); /* Scale down the button slightly */
                }
            }
        }
    }

    .contents{
        flex: 10;
        display: flex;
        flex-direction: column;
    }

    .thread {
        display: flex;
        // align-items: center;
        padding: 16px 24px;
        width: 100%;
        background-color:  #181818; /* Background color for the thread */
        border: 1px solid #353636; /* Border for the thread */
        //border-radius: 10px; /* Rounded corners for the thread */
    
        &__user-icon {
            // margin-top: 11px;
            // margin-right: 16px; /* Space between the icon and the content */
            // padding-bottom: 25px; /* Optional: Add padding for better appearance */
            // height: 90%;
            height: 45px;
            width: 48px;
            padding-top: 11.25px;
            display: flex;
            justify-content: flex-start;
        }
    
        &__user-avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%; /* Make the avatar circular */
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 3px;
        }
        
        &__top{
            flex:1;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__user-info {
            //flex: 8;
            margin-left: 10px;
            display: flex;
            align-items: center;
        }
    
        &__user-name {
            font-weight: bold;
            color: #ffffff; /* Text color for the user name */
            font-size: 15px;
            margin-right: 8px; /* Space between the name and the timestamp */
        }
    
        &__timestamp {
            font-size: 15px;
            color: #777777; /* Text color for the timestamp */
        }

        &__more {
            margin-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 10px;
            border-radius: 50%; /* Make the container circular */
            overflow: hidden;
            transition: background-color 0.4s ease; /* Smooth transition for the glow effect */
    
            img{
                width: 20px;
                height: 20px;
            }

            &:hover {
                cursor: pointer; /* Change the cursor to a pointer */
                background-color: #202020; /* Change background color on hover */
            }
        }
        
        &__text-content {
            flex: 1;
            margin-left: 10px;
            display: flex;
            color: #cccccc; /* Text color for the content */
        }

        &__actions{
            flex: 1;
            display: flex;
            gap: 5px;

            
        }

        &__action__num{
            padding: 10px;
            display: flex;
            gap: 5px;
            min-height: 20px;
            min-width: 60;
            border-radius: 20px;
            transition: background-color 0.4s ease;

            &:hover{
                cursor: pointer;
                background-color: #202020;
            }
        }
        
        &__action__num__img{
            width: 20px;
            height: 20px;
        }

        &__action__num__data
        {   
            color: #ffffff;
            font-size: 13px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 0px;
        }

        &__action__share{
            min-width: 40px;
            padding: 10px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 0px;
            border-radius: 20px;
            transition: background-color 0.4s ease;

            &:hover{
                cursor: pointer;
                background-color: #202020;
            }
        }

    }
}