@use 'variables' as *;

.create__nav-on {
    background-color: #171717;
}
.home__nav--on path,
.profile__nav--on circle,
.profile__nav--on path,
.activity__nav--on path,
.search__nav--on path,
.create__nav-on:hover path {
    stroke: white;
    fill: white;
}

.container {
    background-color: #0a0a0a;
}

.login-btn {
    position: fixed;
    top: 24px;
    right: 28px;

    &__inner {
        height: 34px;
        line-height: 34px;
        width: 82px;
        background-color: #ffffff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        padding: 0;
        border: none;
        cursor: pointer;
    }
}

.create-btn {
    position: fixed;
    bottom: 24px;
    right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 82px;
    background-color: #181818;
    border: 1px solid #353636;
    border-radius: 12px;
    padding: 0;
    transition: transform 0.3s ease;

    & svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &-vertical {
        height: 100vh;
        width: 76px;
        backdrop-filter: blur(15px);
        overflow-y: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__app-icon {
        height: 10%;
        padding-top: 15px;
        padding-bottom: 15px;

        & a {
            display: block;
            width: 34px;
            transition: transform 0.3s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__utilities {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 4px;
        flex-grow: 1;
        align-items: center;

        &-btn {
            display: block;
            width: 24px;
            height: 24px;
            padding: 12px 18px;
            margin: 5px 0;
            border-radius: 20%;
            box-sizing: content-box;
            transition: background-color 0.3s ease;

            & svg {
                width: 24px;
                height: 24px;
                fill: #0a0a0a;
            }

            &:hover {
                cursor: pointer;
                background-color: #171717;
            }
        }
    }
}

.navbar__setting {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-btn {
        display: block;
        width: 26px;
        padding: 10px 20px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 20%;
        box-sizing: content-box;
        cursor: pointer;

        &:hover, &:hover path, &:hover rect {
            stroke: white;
            fill: white;
        }
    }
}

@keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.navbar__setting-more-menu {
    display: none;
    transform: translate(258px, 660px) translate(-100%, -100%);
    left: 0;
    top: 0;
    position: absolute;
    width: fit-content;
    box-shadow: 0 10.5px 21px rgba(0, 0, 0, 0.08);


    .menu {
        animation: fade-in-scale .15s ease-in-out;
        transform-origin: bottom left;
        overflow: hidden;
        margin: 4px 0px -48px 10px;
        background-color: $barcelona-elevated-background;
        border-radius: 16px;
        outline: .5px solid #2d2d2d;
        height: 240.578px;
        width: 240px;
        position: relative;
        box-sizing: border-box;
        transform: transform opacity 200ms;
        transition-timing-function: cubic-bezier(.08, .52, 1);
        opacity: 1;

        &__upper {
            padding: 8px;
            border-bottom: 1px solid $barcelona-threadline;
        }

        &__btn {
            padding: 12px;
            min-height: 24px;
            width: 100%;
            min-width: 0;
            height: 52px;
            background-color: transparent;
            user-select: none;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            border-radius: 12px;
            position: relative;
            transition: transform .1s;
            align-items: center;
            z-index: 1;

            &:hover {
                background-color: rgba(255, 255, 255, 0.04);
            }
        }

        &__btn-text {
            overflow: visible;
            max-width: 100%;
            color: $barcelona-primary-text;
            font-size: 15px;
            text-align: start;
            word-wrap: break-word;
            font-weight: 600;
            position: relative;
            display: block;
            flex-grow: 1;
            font-family: $system-font-family;
            line-height: calc(1.4 * 1em);

            &::before {
                margin-top: -3px;
            }

            &::after {
                margin-bottom: -4px;
            }

            &--logout {
                color: #ff3040;
            }
        }

        &__btn-icon {
            display: flex;
            align-items: center;
            margin-left: 8px;
            transform: rotate(180deg);

            & svg {
                height: 16px;
                width: 16px;
                stroke-width: 2;
                fill: none;
                stroke: $barcelona-secondary-text;
                flex-shrink: 0;
                position: relative;
                display: block;
            }
        }

        &__lower {
            padding: 8px;
        }

    }
}

.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: calc(100vh - 60px);
}

.heading__section {
    display: flex;
    justify-content: center;
    width: 640px;
    height: 60px;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #0a0a0a;

    .refresh {

        &-btn {
            display: inline-block;
            padding-top: 22px;
            padding-bottom: 22px;
            font-weight: 500;
            font-style: normal;
            color: #f3f5f7;
            text-decoration: none;
            text-align: center;
        }

        &-option {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 16px;
            width: 24px;
            height: 24px;
            border: 1px solid #363737;
            background-color: #181818;
            border-radius: 100%;
            cursor: pointer;

            & svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.content__section {
    background-color: #181818;
    width: 100%;
    min-height: calc(100vh - 60px);
    border: 1px solid #353636;
    border-top: none;
    border-bottom: none;
    padding-top: 18px;
    margin-top: 60px;
    overflow-y: auto;

    &-border {
        position: fixed;
        top: 60px;

        &-top {
            @extend .content__section-border;
            width: 600px;
            height: 1px;
            border: 1px solid #353636;
            border-bottom: none;
            border-left: none;
            border-right: none;
            background-color: #181818;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

            &-left {
                @extend .content__section-border;
                width: 20px;
                height: 50px;
                border: 1px solid #353636;
                border-top-left-radius: 24px;
                border-right: none;
                border-bottom: none;
                background-color: #181818;
                z-index: 4;
            }

            &-right {
                @extend .content__section-border;
                right: calc(50% - (640px /2));
                width: 20px;
                height: 50px;
                border: 1px solid #353636;
                border-top-right-radius: 24px;
                border-left: none;
                border-bottom: none;
                background-color: #181818;
                z-index: 4;
            }
            &-hide {
                &-left {
                    @extend .content__section-border;
                    width: 20px;
                    height: 20px;
                    background-color: #0a0a0a;
                    z-index: 2;
                }
                &-right {
                    @extend .content__section-border;
                    right: calc(50% - (640px /2));
                    width: 20px;
                    height: 20px;
                    background-color: #0a0a0a;
                    z-index: 2;
                }
            }
        }
    }
}