@use 'variables' as *;
@use 'base' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
}