.refresh-btn
{
    font-size: 15px;
}
.content__section
{
    color: white;
    position: relative;
    
}
.content__heading
{
    display: flex;
    justify-content: space-between;
}


.information
{
    display:flex;
    flex-direction:column;
    margin-top: 40px;
    margin-left: 26px;
}

.information__name
{
    font-size: 23px;
    font-weight: 650;
    margin-bottom: 4px;
}

.information__nickname
{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.information__bio
{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    
}

.information__follower
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 130px;
    color: rgb(153, 153, 153);
}

.follower__img
{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.follower__img__item
{
    height: 18px;
    width: 18px;
    background-size: cover;
    background-image: url(../assets/img/fl1.png);
    border-radius: 50%;
    margin-right: 4px;
    position: relative;
}
.follower__img__item:nth-child(2)
{
    background-image: url(../assets/img/fl2.png);
    right: 8px;
}
.follower__img__item:nth-child(3)
{
    background-image: url(../assets/img/fl3.png);
    right: 16px;
}
.follower__number
{
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    position: relative;
    right: 8px;
}

.follower__text
{   
    
    font-size: 14px;
    font-weight: 400;
    position: relative;
    right: 8px;
}

.utility
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
    height: 196px ;
    margin-top: 20px;
    margin-right: 26px;
   
    
}

.utility__avatar
{
    height: 86px;
    width: 86px;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9e/JustinBieberWhatDoYouMeanCover.png);
    border-radius: 50%;
    margin-bottom: 56px;
}
.utility__avatar:hover
{
    cursor: pointer;
}
.fa-instagram
{
    font-size: 24px;
}
.fa-instagram:hover
{
    cursor: pointer;
}
.edit-btn
{
    display: block;
    height: 34px;
    width: calc(586px/640px);
    font-size: 14px;
    font-weight: 650;
    border-radius: 10px;
    margin-left: 26px;
    margin-right: 26px;
    text-align: center;
    border: 1px solid rgba(243,245,247,0.15);
}
.edit-btn:hover
{
    cursor: pointer;
}
.edit-btn p 
{
    margin-top: 8px;
}
.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
    margin-top: 30px;
    font-size: 15px;
    list-style: none;
}

.navigation__item
{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigation__item:hover
{
    cursor: pointer;
}
.item__line
{
    margin-top:14px;
    border-bottom: 1px solid rgba(243,245,247,0.15);
    width: 100%;
}
.navigation__item--on 
{
    color: white;
    .item__line {
        border-bottom-color: white; /* Change the color to white */
    }
}
.navigation__item--off
{
    color: rgb(153, 153, 153);
}
.navigation__news
{

}
.navigation__replies
{

}
.navigation__reposts
{

}
.content__body
{

}
.post-section
{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(243,245,247,0.15);
    
}

.post-section__avatar
{
    margin-left: 26px;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9e/JustinBieberWhatDoYouMeanCover.png);
    border-radius: 50%;
}
.post-section__input
{
    font-size: 15px;
    color:rgba(243,245,247,0.3);
    margin-left: 12px;
    
}
.post-section__btn
{
    height: 36px;
    width: 62px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid rgba(243,245,247,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 26px;
    
}
.post-section__btn:hover
{
    cursor: pointer;
}

// edit profile
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.edit-profile
{
    display: none;
    width: 36%;
    height: 516px;
    background-color: black;
    border-radius: 18px;
    position: fixed;
    z-index: 6;
    top: 20%;
    left: 32%;
    list-style: none;
    border: 1px solid rgba(243,245,247,0.15);
    overflow: auto;
    background-color: #101010;
}
#pop-up-profile-box
{
    display: none;
}
#pop-up-profile-box:checked ~ .overlay
{
    display: block;
}
#pop-up-profile-box:checked ~ .edit-profile
{
    display: block;
}

.edit-profile__field
{
    
    font-size: 16px;
    height: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26px;
    margin-right: 26px;
    border-bottom: 1px solid rgba(243,245,247,0.15);
}

.field__title
{
    
    font-weight: 600;
    margin-bottom: 10px;
}
.field__content
{
    font-weight: 400;
    color: rgba(243,245,247,0.3);
}
.field__content__bio
{

}
.field__content__name
{

}
.field__content__link
{

}
.field__content__ig
{
    font-size: 12px;
}
.field__content__private
{
    font-size: 12px;
    
}
.edit-profile__button
{
    height: 54px;
    width: 90%;
    margin-left: 26px;
    background-color: white;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-profile__button:hover
{
    cursor: pointer;
}
.edit-profile__avatar
{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9e/JustinBieberWhatDoYouMeanCover.png);
    background-size: cover;
    position: absolute;
    top: 26px;
    right: 26px;
     z-index: 3;
}
.avatar-mask
{
    height: 70px;
    width: 70px;
    background-color: #101010;
    position: absolute;
    top: 26px;
    right: 26px;
}