$primary-color: black;
$system-font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$system-font-size: 15px;
$system-line-height: 21px;
$barcelona-primary-outline: #f3f5f726;
$barcelona-elevated-background: #181818;
$barcelona-primary-text: #f3f5f7;
$barcelona-tertiary-background: #1e1e1e;
$barcelona-primary-background: #101010;
$barcelona-primary-button: white;
$barcelona-secondary-text: #777777;
$barcelona-dialog-backdrop-background: #101010d9;
$barcelona-threadline: #333638;
$barcelona-secondary-background: #0a0a0a;
