.search-box {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bar {
    display: block;
    padding: 18px 24px 4px 24px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px 16px;
    align-items: center;
    border: 1px solid #353636;
    border-radius: 16px;
    height: 44px;
    background-color: black;
  }

  &__icon {
    padding: 8px;

    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 0;
    padding: 1px 2px;
    color: #f3f5f7;
    outline: 0px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  
    
    // Hide clear button ("x")
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
  }

  &__clear-btn {
    display: flex;
    padding: 8px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
  }

  &__clear-btn svg {
    height: 16px;
    width: 16px;
    color: #4d4d4d;
    flex-shrink: 0;
    fill: #4d4d4d;
  }
}

.suggestion-box {
    display: flex;
    flex-direction: column;
    
    &__heading {
        display: flex;
        width: 100%;
        padding: 16px 24px 6px 24px;
    }

    &__title {
        display: block;
        text-align: start;
        max-width: 100%;
        font-weight: 600;
        color: #777777;
        line-height: calc(1.4 * 1em);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    }
}

.user-profile {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 16px 0px 0px 24px;
    width: 100%;

    &__avatar {
        padding: 4px 12px 2px 0px;
    }

    &__avatar-wrapper {
        display: flex;
        user-select: none;
        height: 36px;
        width: 36px;
        border-radius: 50%;
    }

    &__avatar-img {
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-bottom: 0.5px solid #f3f5f726;
        padding-right: 24px;
    }

    &__info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-grow: 1;
        padding-bottom: 8px;
    }

    &__details {
        display: flex;
        height: 42px;
        justify-content: center;
        flex-direction: column;
        padding-right: 8px;
    }
    &__username {
        display: flex;
        align-items: center;
    }
    &__username-link {
        color: #f3f5f7;
        border-bottom-style: none;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        line-height: calc(1.4 * 1em);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  

        &:hover {
            text-decoration: underline;
        }
    }
    
    &__name {
        display: flex;
        align-items: center;
    }

    &__name-text {
        display: block;
        max-width: 100%;
        font-weight: 400;
        font-size: 15px;
        word-wrap: break-word;
        color: #777777;
        line-height: calc(1.4 * 1em);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    }

    &__follow-btn {
        display: inline-flex;
        min-width: 104px;
        max-width: 100%;
        height: 34px;
        border: 1px solid #f3f5f726;
        justify-content: center;
        background-color: transparent;
        user-select: none;
        align-items: center;
        flex-shrink: 0;
        padding: 0px 16px;
        font-weight: 600;
        border-radius: 10px;
        color: #f3f5f7;
        cursor: pointer;
        font-size: 15px;
        line-height: calc(1.4 * 1em);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    }

    // &__follow-btn-label {

    // }

    &__followers {
        padding-bottom: 12px;
    }
    
    &__followers-wrapper {
        display: flex;
        align-items: center;
    }

    &__followers-count {
        max-width: 100%;
        color: #f3f5f7;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: calc(1.4 * 1em);
    }
}