<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="icon" type="image/svg+xml" href="/Img/threads-app-icon.svg" />
    <link href="/Css/output.css" rel="stylesheet" />
    <link href="../Css/tailwind.css" rel="stylesheet">
</head>

<body class="bg-black text-white flex flex-col justify-center items-center min-h-screen text-center font-main-font">
    <h1 class="text-2xl mb-2">Sorry, this page does not exist</h1>
    <p class="text-base mb-5">The link you accessed may be broken, or the page might have been removed.</p>
    <button onclick="window.history.back()"
        class="bg-white text-black px-4 py-2 text-base font-bold rounded hover:bg-gray-200 transition duration-200">
        Go Back
    </button>
</body>

</html>