<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Threads</title>
    <link rel="icon" type="image/svg+xml" href="../Img/threads-app-icon.svg" />
    <link href="../Css/output.css" rel="stylesheet" />
</head>

<body class="bg-[black] text-[#f5f5f5] text-[14px] leading-[18px] h-screen">
    <div class="reset-password flex flex-col relative top-0 h-full justify-center items-center">
        <div class="max-w-[388px] flex flex-col relative top-0 h-full items-center mt-[120px]">
            <div class="reset-password__icon mt-6 mb-4 overflow-visible">
                <svg aria-label="Trouble with logging in?" fill="currentColor" height="96" role="img"
                    viewBox="0 0 96 96" width="96">
                    <title>Trouble with logging in?</title>
                    <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"></circle>
                    <path
                        d="M60.931 70.001H35.065a5.036 5.036 0 0 1-5.068-5.004V46.005A5.036 5.036 0 0 1 35.065 41H60.93a5.035 5.035 0 0 1 5.066 5.004v18.992A5.035 5.035 0 0 1 60.93 70ZM37.999 39.996v-6.998a10 10 0 0 1 20 0v6.998"
                        fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"></path>
                </svg>
            </div>
            <span class="reset-password__main-text mb-4 leading-5 text-4 font-semibold ml-[44px] mr-[44px]">Trouble with
                logging in?</span>
            <span
                class="reset-password__secondary-text font-normal text-[#a8a8a8] break-words text-center ml-[44px] mr-[44px] mb-4">Enter
                your email address, phone number or username, and we'll send you a link to get back into your
                account.</span>
            <form action="" method="post" id="reset-password__form"
                class="reset-password__form ml-[44px] mr-[44px] mb-4 w-full">
                <label for="email"
                    class="ml-[44px] mr-[44px] border border-solid border-[#262626] rounded-md pr-2 flex justify-between items-center bg-[#121212] relative">
                    <input type="text"
                        class="reset-password__form-input bg-[#121212] pt-1 pb-1 pr-[9px] pl-[9px] outline-none flex-grow leading-[30px] w-full rounded-md"
                        placeholder="Email address or username" spellcheck="true" type="text" value=""
                        name="emailOrUsername" />
                </label>
            </form>
            <button id="sendLoginLinkButton" class="reset-password__send-link ml-[44px] mr-[44px] mb-4 h-8 font-semibold flex justify-center items-center text-[white] rounded-md bg-[#0095f6] shrink-0 pr-4 
                pl-4 text-[.875rem] box-border disabled:cursor-not-allowed w-[calc(100%-88px)]" type="submit" disabled>
                <span class="send-button-text">Send login link</span>
                <svg id="loading-spinner" class="hidden tbl:hidden animate-spin h-5 w-5 ml-2" fill="none"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
                </svg>
            </button>
            <div
                class="reset-password__separate ml-[44px] mr-[44px] mb-4 mt-4 flex flex-row w-[calc(100%-88px)] items-center">
                <div class="reset-password__separate-line h-px flex-grow bg-[#262626]"></div>
                <div class="reset-password__separate-text mx-[18px] text-[#a8a8a8] text-[.8125rem] leading-[1.1538]">OR
                </div>
                <div class="reset-password__separate-line h-px flex-grow bg-[#262626]"></div>
            </div>
            <a class="reset-password__signup-redirect  text-[#fafafa] font-semibold" href="/auth/signup">Create new
                account</a>
            <a href="/auth/login"
                class="reset-password__login-redirect h-11 bottom-0 fixed right-0 left-0 border border-[#262626] border-solid bg-[#121212] flex items-center justify-center text-[#fafafa] font-semibold">Back
                to login</a>
        </div>
    </div>
    <%- include('Auth/auth_popup') %>

</body>




</html>
<script>
    // Lấy các phần tử trong form
    const inputField = document.querySelector('.reset-password__form-input');
    const sendButton = document.getElementById('sendLoginLinkButton');

    sendButton.addEventListener('click', async () => {
        const spinner = document.getElementById('loading-spinner');
        const buttonText = document.querySelector('.send-button-text');

        // Hiển thị trạng thái loading
        sendButton.disabled = true;
        spinner.classList.remove('hidden'); // Hiển thị spinner
        spinner.classList.remove('tbl:hidden');
        buttonText.textContent = ''; // Ẩn văn bản nút

        try {
            const res = await fetch('/auth/forgotPassword', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email: inputField.value }),
            });

            if (res.status === 200) {
                showModal('We have sent you a link to reset your password. Please check your email.');
            } else {
                showModal('This email address is not associated with any account.');
            }
        } catch (error) {
            showModal('An error occurred. Please try again.');
        } finally {
            // Ẩn spinner và khôi phục trạng thái nút
            sendButton.disabled = false;
            spinner.classList.add('hidden'); // Ẩn spinner
            spinner.classList.add('tbl:hidden');
            buttonText.textContent = 'Send login link'; // Khôi phục văn bản
        }
    });

    // kiểm tra input có rỗng không
    inputField.addEventListener('input', () => {

        if (inputField.value.trim() !== '') {
            sendButton.disabled = false;
        } else {
            sendButton.disabled = true;
        }
    });
    // Hàm hiển thị modal
    function showModal(message) {
        const modalMessage = document.getElementById('modal-message');
        const modal = document.getElementById('modal-popup');
        modalMessage.textContent = message;
        modal.classList.remove('hidden');
        modal.style.opacity = '1';
        modal.style.transform = 'translateY(0)';
        setTimeout(hideModal, 4000); // Tự động ẩn modal sau 4 giây
    }

    // Hàm ẩn modal
    function hideModal() {
        const modal = document.getElementById('modal-popup');
        modal.style.opacity = '0';
        modal.style.transform = 'translateY(100%)';
        setTimeout(() => {
            modal.classList.add('hidden');
        }, 500); // Đợi một chút để hoàn thành hiệu ứng
    }
</script>