<div class="profile-wrapper w-full h-full relative">
    <!-- code trong đây  -->
    <!-- edit profile -->
    <%- include('profile/edit_form_module', { user: user, }) %>
        <!-- follower -->
        <div
            class="follower-popup bg-[#121212] text-white rounded-3xl hidden fixed inset-0 m-auto pc:w-[520px] z-[10] tbl:w-[500px] tbl:fixed tbl:bottom-auto tbl:border tbl:border-[rgba(147,140,140,0.4)] tbl:top-1/2 tbl:left-1/2 tbl:right-1/2 tbl:transform tbl:-translate-x-1/2 tbl:-translate-y-1/2">
            <!-- đóng -->
            <div class="follower-popup__header flex justify-end items-center tbl:hidden">
                <div class="follower-popup__header__close-btn cursor-pointer">
                    <svg aria-label="Close" role="img" viewBox="0 0 24 24" class="w-6 h-6" stroke="#f3f5f7"
                        fill="transparent" stroke-width="1.5">
                        <title>Close</title>
                        <path d="M18 6L6 18"></path>
                        <path d="M6 6L18 18"></path>
                    </svg>
                </div>
            </div>

            <!-- header  -->
            <ul
                class="navigation-follower pt-2 flex flex-row justify-around font-medium text-[15px] list-style: none border-b border-solid border-b-[rgba(243,245,247,0.15)]">
                <li
                    class="navigation-follower__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__news navigation__item--on text-[white]">
                    <div class="item-follower__text">Followers</div>
                    <div class="item-follower__number text-sm">5</div>
                    <div
                        class="item-follower__line w-full mt-4 border-b-[rgba(243,245,247,0.15)] border-b border-solid border-b-[white]">
                    </div>
                </li>
                <li
                    class="navigation-follower__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__replies navigation__item--off text-[rgb(153,153,153)]">
                    <div class="item-follower__text">Following</div>
                    <div class="item-follower__number text-sm">10</div>
                    <div
                        class="item-follower__line w-full mt-4 border-b-[rgba(243,245,247,0.15)] border-b border-solid">
                    </div>
                </li>
                <li
                    class="navigation-follower__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__reposts navigation__item--off text-[rgb(153,153,153)]">
                    <div class="item-follower__text">Pending</div>
                    <div class="item-follower__number text-sm">20</div>
                    <div
                        class="item-follower__line w-full mt-4 border-b-[rgba(243,245,247,0.15)] border-b border-solid">
                    </div>
                </li>
            </ul>
            <!-- list follower -->

            <div class="list-follower w-full h-full tbl:bg-[#181818] border-b border-gray-700 rounded-b-3xl">
                <% followerUsers.forEach(user=> { %>
                    <!-- lấy module từ Views/Partials/user_follow_module -->
                    <%- include('profile/user_follow_module', { user: user }) %>
                        <% }) %>
            </div>
        </div>
        <div class="profile-wrapper relative w-full h-full">
            <!-- profile -->


            <div class="profile__info mt-8">
                <div class="content__heading flex justify-between">
                    <div class="information flex flex-col ml-6 font-bold">
                        <div class="information__name text-2xl mb-1">Minh Toàn</div>
                        <div class="information__nickname text-sm font-normal mb-6">cas.nothingtosay</div>
                        <div class="information__bio text-sm font-normal mb-4">Vietnamese gang</div>
                        <div class="information__follower flex flex-row justify-around mb-8 text-gray-500">
                            <ul class="follower__img flex flex-row cursor-pointer">
                                <li class="follower__img__item h-4 w-4 bg-cover mr-1 relative rounded-full" style="
                                                        background-image: url('https://th.bing.com/th/id/OIP.P6RqRgE_lh77mF6mktc_LgHaLH?rs=1&pid=ImgDetMain');
                                                        left: 2px;
                                                    "></li>
                                <li class="follower__img__item h-4 w-4 bg-cover mr-1 relative rounded-full" style="
                                                        background-image: url('https://th.bing.com/th/id/R.b28868904888f28f32264a83f29d5b4a?rik=MeIviuEyQSaLbw&pid=ImgRaw&r=0');
                                                        left: -10px;
                                                    "></li>
                                <li class="follower__img__item h-4 w-4 bg-cover relative rounded-full" style="
                                                        background-image: url('https://dailytrust.com/wp-content/uploads/2022/12/Neymar.jpg');
                                                        left: -20px;
                                                    "></li>
                            </ul>
                            <div class="follower__number text-sm font-normal mr-1 relative cursor-pointer">100</div>
                            <div class="follower__text text-sm font-normal relative cursor-pointer">followers</div>
                        </div>
                    </div>
                    <div class="utility flex flex-col items-end h-48 mr-6">
                        <div class="utility__avatar h-20 w-20 bg-cover mb-8 rounded-full cursor-pointer" style="
                                                background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9e/JustinBieberWhatDoYouMeanCover.png);
                                            "></div>
                        <div class="utility__insta cursor-pointer mr-2">
                            <i class="fa-brands fa-instagram text-2xl cursor-pointer"></i>
                        </div>
                    </div>
                </div>
                <div class="edit-btn block h-8 text-sm ml-6 mr-6 text-center cursor-pointer border rounded-lg"
                    style="border: 2px solid rgba(147, 140, 140, 0.4)">
                    <p class="mt-1">Edit profile</p>
                </div>
                <!-- navigation -->
                <ul class="navigation flex flex-row justify-around font-medium text-[15px] mt-[30px] ;list-style: none">
                    <li
                        class="navigation__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__news navigation__item--on text-[white]">
                        <div class="item__text">Threads</div>
                        <div
                            class="item__line w-full mt-3.5 border-b-[rgba(243,245,247,0.15)] border-b border-solid border-b-[white]">
                        </div>
                    </li>
                    <li
                        class="navigation__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__replies navigation__item--off text-[rgb(153,153,153)]">
                        <div class="item__text">Replies</div>
                        <div class="item__line w-full mt-3.5 border-b-[rgba(243,245,247,0.15)] border-b border-solid">
                        </div>
                    </li>
                    <li
                        class="navigation__item w-[calc(100%_/_3)] flex items-center flex-col hover:cursor-pointer; navigation__reposts navigation__item--off text-[rgb(153,153,153)]">
                        <div class="item__text">Reposts</div>
                        <div class="item__line w-full mt-3.5 border-b-[rgba(243,245,247,0.15)] border-b border-solid">
                        </div>
                    </li>
                </ul>
            </div>

            <!-- post : lấy module từ trang home thay vào-->
            <div class="my-posts">
                <% 
                    console.log('Posts-profile.ejs:', posts);  // Debug: In toàn bộ danh sách bài đăng
                    posts.forEach(post => { 
                %>
                    <%- console.log('Post:', post); %>
                    <%- include('home/home-post', { post: post }) %>
                <% }) %>
            </div>
            


        </div>

</div>