<div
    class="confirm-delete overflow-hidden z-[4] hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 animate-zoomIn w-[280px] h-[184px] border border-border-color rounded-2xl bg-content-bg">
    <div class="delete-title p-6 pb-2 mb-3 text-center text-white text-base font-bold"></div>
    <div class="delete-content p-6 pt-0 text-[15px] text-secondary-text font-normal text-center"></div>
    <div class="w-full flex border-t-[1px] border-border-color">
        <button class="confirm-cancel-btn w-full py-3 text-white font-bold text-base">Cancel</button>
        <button class="confirm-delete-btn w-full block border-l-[1px] border-border-color py-3 text-red-500 font-bold text-base">Delete</button>
    </div>
</div>