<div class="loading-post-toast fixed bottom-0 left-0 z-40 flex justify-center w-full hidden">
    <ul class="toast max-w-full flex flex-col space-y-4 p-4">
        <li class="toast__loading p-4 w-[320px] bg-white rounded-lg shadow-lg">
            <div class="toast__loading-wrapper w-full pt-2 pb-2 pr-4 pl-4 rounded-[8px] flex items-center bg-white flex-row">
                <div class="toast__loading-icon w-6 h-6 mr-2" aria-label="Đang tải..." role="status"
                    data-visualcompletion="loading-state">
                    <svg aria-label="Đang tải..." role="img" viewBox="0 0 100 100">
                        <rect fill="currentColor" height="10" opacity="0" rx="5" ry="5" transform="rotate(-90 50 50)"
                            width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.125" rx="5" ry="5"
                            transform="rotate(-45 50 50)" width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.25" rx="5" ry="5" transform="rotate(0 50 50)"
                            width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.375" rx="5" ry="5" transform="rotate(45 50 50)"
                            width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.5" rx="5" ry="5" transform="rotate(90 50 50)"
                            width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.625" rx="5" ry="5"
                            transform="rotate(135 50 50)" width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.75" rx="5" ry="5" transform="rotate(180 50 50)"
                            width="28" x="67" y="45"></rect>
                        <rect fill="currentColor" height="10" opacity="0.875" rx="5" ry="5"
                            transform="rotate(225 50 50)" width="28" x="67" y="45"></rect>
                    </svg>
                </div>
                <div class="toast__loading-content text-center text-black font-semibold" aria-atomic="true" role="alert"></div>
            </div>
        </li>
    </ul>
</div>
