<div class="footer-wrapper absolute w-full bottom-0">
    <footer class="footer h-[70px] w-full bottom-0 flex items-center text-center box-border px-4 absolute">
        <ul class="footer__list mx-auto list-none block">
            <li class="footer__item inline-block">
                <span
                    class="footer__text block overflow-visible min-w-0 max-w-full font-normal text-left relative break-words text-[12px] leading-[1.4em] text-[#777]">
                    © 2024
                </span>
            </li>

            <li class="footer__item inline-block ml-3">
                <span
                    class="footer__text block overflow-visible min-w-0 max-w-full font-normal text-left relative break-words text-[12px] leading-[1.4em] text-[#777]">
                    <a href="#" class="footer__link inline text-[#777] cursor-pointer no-underline hover:underline"
                        target="_blank">Threads Terms</a>
                </span>
            </li>

            <li class="footer__item inline-block ml-3">
                <span
                    class="footer__text block overflow-visible min-w-0 max-w-full font-normal text-left relative break-words text-[12px] leading-[1.4em] text-[#777]">
                    <a href="#" class="footer__link inline text-[#777] cursor-pointer no-underline hover:underline"
                        target="_blank">Privacy Policy</a>
                </span>
            </li>

            <li class="footer__item inline-block ml-3">
                <span
                    class="footer__text block overflow-visible min-w-0 max-w-full font-normal text-left relative break-words text-[12px] leading-[1.4em] text-[#777]">
                    <a href="#" class="footer__link inline text-[#777] cursor-pointer no-underline hover:underline"
                        target="_blank">Cookies Policy</a>
                </span>
            </li>

            <li class="footer__item inline-block ml-3">
                <div class="footer__button cursor-pointer select-none hover:underline" role="button" tabindex="0">
                    <span
                        class="footer__text block overflow-visible min-w-0 max-w-full font-normal text-left relative break-words text-[12px] leading-[1.4em] text-[#777]">Report
                        a problem</span>
                </div>
            </li>
        </ul>
    </footer>
</div>